<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TestSuite">
	<test name="training">
		<classes>
			<class name="com.training.testng.TestNGExample" />
		</classes>
	</test>
	

	<test name="training2">
		<classes>
			<class name="com.training.testng.TestNGExample2" />
		</classes>
	</test>

	<test name="training3">
		<classes>
			<class name="com.training.testng.TestNGExample3" />
			<class name="com.training.testng.TestExample4" />
		</classes>
	</test>
	
	<test name="training4">
		<classes>
			<class name="com.training.testng.TestExample4" />
		</classes>
	</test>
	
	
	<!-- training -->
</suite> <!-- TestSuite -->
